<div class="todos-wrapper">
    <div class="container">

        <div class="todo-item completed">

            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text</p>

        </div>

        <div class="todo-item">

            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptas quo obcaecati aliquid itaque, natus sapiente dolorum consequatur nemo repudiandae incidunt cumque, iusto debitis. Laboriosam natus cum tempore alias facilis.</p>

        </div>

    </div>
</div>
