<div class="notes-wrapper">

    <div class="container">

        <div class="notes-list">

            <div class="note-card">
                <div class="note-card-title">
                    This is notes title
                </div>
                <div class="note-card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto doloremque recusandae blanditiis nobis vel assumenda porro repellat nam, facere error nulla omnis et dolore molestiae! Nam tempore incidunt dolore aliquid?
                </div>
            </div>

            <div class="note-card">
                <div class="note-card-title">
                    This is notes title
                </div>
                <div class="note-card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quaerat officiis, molestias, commodi magnam ea inventore fugit quis, tempora in quas recusandae! Dolore maiores cupiditate eum? Nostrum tenetur animi debitis.
                </div>
            </div>

        </div>
        <div class="btns-container btns-centered">
            <a routerLink="add" class="btn add-btn">
                <i class="material-icons-outlined">add</i>
                Add
            </a>
        </div>
        

    </div>

</div>