<div class="add-note-wrapper has-blurred-white-bg container">
    <h2 class="is-bold">
        New Note
    </h2>

    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <input class="textbox" ngModel name="title" type="text" placeholder="Enter note title..." required>
        <textarea class="textarea" ngModel name="content" placeholder="Enter note content..."></textarea>

        <div class="btns-container">
            <a class="btn" routerLink="../">Cancel</a>
            <button class="btn align-end">Create Note</button>
        </div>
        
    </form>
</div>
